
.index-logo {
    max-height: 125px;
    margin: 0 auto;
    display: block;
}

.stadies-wraper {
    border: solid 2px #0a0a6f;
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px;
}

.like-wrapper {
    font-size: 35px;
}

.like-wrapper_good {
    color: #FF5722;
    margin-right: 30px;
}

.like-wrapper_bad {
    color: #251111;
}

.likes-quantity {
    margin: 0 20px;
}

.likes-marker {
    cursor: pointer;
}

.description-wrapper {
    margin: 10px 0;
}

.description-wrapper_text {
    padding: 15px 0;
    font-style: italic;
    color: #043a65;
}


.hide {
    display: none;
}

.show {
    display: block;
}
